/*
CSS Settings 
*/

// Framework
@import "awesome/fontawesome-min";



.fau-person {
   // .person-info {
    	ul.contactlist {
	    margin: 0 15px 10px 0;
	    
	   
	}
	
    // }
    
    
    [itemprop="telephone"]:before { 
	@extend .fa;
	width: 20px; 
	@extend .fa-phone; 
    }
    [itemprop="telephone"].mobile:before { 
	@extend .fa;
	width: 20px; 
	@extend .fa-mobile; 
    }
    [itemprop="faxNumber"]:before { 
	@extend .fa;
	width: 20px; 
	@extend .fa-fax; 
    }
    [itemprop="email"]:before { 
	@extend .fa;
	width: 20px; 
	@extend .fa-envelope-o; 
    }
    [itemprop="url"]:before { 
	@extend .fa;
	width: 20px; 
	@extend .fa-home; 
    }


    .fullname {
       white-space: nowrap;
    }
    [itemprop="hoursAvaible"] {
	margin-bottom: 10px;
    }
    .person-info ul.hoursAvailable_group,
    [itemprop="hoursAvaible"] ul,
    ul.hoursAvailable_group {
	    li {
 		list-style: disc;
		margin-left: 15px;
	    }
	    
	    .widget & li {
		display: list-item;
	    }
	    .widget & li::before {
		display: none;
	    }
	    
    }
    ul.contactlist {
	li {
	    list-style-type: none;
	}
	.widget & li::before {
		display: none;
	}
	
    }
    .connection-list {
	margin-left: 0;
	li {
	    list-style-type: none;
	}
    }   
}

.liste-person {
    li {
	list-style: circle;
    }
}


.person-info {
    // Remove old definitions from theme
	.person-info-phone:before,
	.person-info-mobile:before,
	.person-info-fax:before,
	.person-info-email:before,
	.person-info-www:before { 
	    display: none;
	}

}

.fau-person {
	
	.row {
	    display: flex;
	    flex-wrap: wrap; 
	    align-content: flex-start;
	    margin-left: 0;
	    margin-right: 0;
	    
	
	    .person-default-thumb,
	    .person-default {
		margin-left: 5px;
		margin-right: 5px;
		padding: 0 5px;	
	    }
	    .person-thumb {
		flex: 0 0 90px;
		float: none;
		order: 1;
		margin: 0;
		padding: 5px;
	    }
	    .person-default,
	    .person-sidebar,
	    .person-default-thumb {
		flex: 1 0 200px;
		float: none;
		order: 2;
		max-width: inherit;
		width: inherit;
	    } 


	    .person-compact-thumb {
		margin-left: 5px;
		margin-right: 5px;
		flex: 1 0 200px;
		@media (min-width: 768px) {
		    flex-basis: 350px; 
		    padding: 5px;	
		}
		order: 1;
		width: inherit;
			
	    }
	    .person-default-more {
		 float: none;
		 flex: 1 1 200px;
		 order: 3;
		 padding: 5px;
	    }
	    

	}
	.compactindex  .row .person-thumb {
		order: 2;
	 }
}