/*
 * FAU Person CSS Settings Backend (Admin)) 
 */

@import "awesome/fontawesome-min";

#fau_person_textinfos,
#fau_person_info,
#fau_person_adressdaten,
#fau_person_connection {
   &.cmb2-postbox  {
	.cmb-row {
	    border: none;
	    padding: 1.2em 0;
	}
    } 
}

#fau_person_sync {
    #side-sortables & .cmb2-wrap > .cmb-field-list > .cmb-row,
    .cmb-row {
	border: none;
	padding: 0.5em 0;
	margin: 0;
	label {
	    margin: 0;
	}
	
	.cmb2-metabox-description {
	    padding-bottom: 1em;
	}
    }
}


#cmb2-metabox-fau_person_social_media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .cmb-row {
	flex: 1 1 50%;
	border: 0;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 10px 0;
	justify-content: flex-start;
	
	.cmb-th, .cmb-td {
	    float: inherit;
	    width: inherit;
	    padding: 0;
	    margin: 0;
	}
	
	.cmb-th {
	    flex-basis: 150px;
	    flex-shrink: 0;
	    order: 1;
	}
	.cmb-td {
	    flex-grow: 1;
	    order: 2;
	} 
	
	&:after {
	    display: inherit;
	    width: inherit;
	}
    }
    
    label {
	 &:before {
		@extend .fa; 
		@extend .fa-bookmark-o;
		  
		  width: 1.4em;
		  height: 1.4em;
		  line-height: 1.4em;
		  text-align: center;
		  font-size: 1.1em;
		  margin-right: 10px;
		  border-radius: 50%;
		  background-color: #aaa;
		color: #fff;

	    }
			
			
	   &[for*="twitter"]:before {
		@extend .fa-twitter;   
		background-color: #55acee;
	    }
	    &[for*="facebook"]:before {
		@extend .fa-facebook; 
		background-color: #3b5999;
	    }

	    &[for*="github"]:before {
		@extend .fa-github;
		background-color: #000;
	    }

	    &[for*="instagram"]:before {
		@extend .fa-instagram;
		background-color: #e4405f;
	    }

	    &[for*="linkedin"]:before {
		@extend .fa-linkedin;
		background-color: #0077B5;
	    }
	    
	     &[for*="xing"]:before {
		@extend .fa-xing;
		background-color: #009090;
	    }
	    
	     &[for*="tiktok"]:before {
		@extend .fa-tiktok;
		 background-color: #fe2c55;
	    }
	     &[for*="youtube"]:before {
		@extend .fa-youtube;
		background-color: #cd201f;
	    }
    
    }
}

.wp-list-table {
    .column-thumb {
	figure {
	    margin: 0;
	    padding: 0;
	}
    }
 [itemprop="telephone"]:before { 
	@extend .fa;
	width: 20px; 
	@extend .fa-phone; 
    }
    [itemprop="telephone"].mobile:before { 
	@extend .fa;
	width: 20px; 
	@extend .fa-mobile; 
    }
    [itemprop="faxNumber"]:before { 
	@extend .fa;
	width: 20px; 
	@extend .fa-fax; 
    }
    [itemprop="email"]:before { 
	@extend .fa;
	width: 20px; 
	@extend .fa-envelope; 
    }
    [itemprop="url"]:before { 
	@extend .fa;
	width: 20px; 
	@extend .fa-home; 
    }
}
