/*-----------------------------------------------------------------------------------*/
/* Default SVG Icons
/*-----------------------------------------------------------------------------------*/


.fau-person {

    [itemprop="telephone"]:before { 
	@extend .defaulticonplaceholder;
	background-image: svg-icon-phone();
    }
    [itemprop="telephone"].mobile:before { 
	@extend .defaulticonplaceholder;
	background-image: svg-icon-mobile();

    }
    [itemprop="faxNumber"]:before { 
	@extend .defaulticonplaceholder;
	background-image: svg-icon-fax();

    }
    [itemprop="email"]:before { 
	@extend .defaulticonplaceholder;
	background-image: svg-icon-mail();

    }
    [itemprop="url"]:before { 
	@extend .defaulticonplaceholder;
	background-image: svg-icon-home();

    }

}

