/*-----------------------------------------------------------------------------------*/
/* Functions for icons
/*-----------------------------------------------------------------------------------*/

// Translate colors
@function encodecolor($string) {
   @if type-of($string) == 'color' and str-index(#{$string}, '#') == 1 {
    $hex: str-slice(ie-hex-str($string), 4);
    $string: unquote('#{$hex}');

    @return '%23' + $string;
  }

  @return $string;
}

// Build Background String
@function svg-buildbackground($path, $viewbox, $farbe: false, $width: 0, $height: 0) {
    $svgdef: '<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" ' + 'viewBox="' + $viewbox + '"';
    @if ($width != 0) {
	  $svgdef: $svgdef + ' width="'+$width+'"';
    }
    @if ($height != 0) {
	  $svgdef: $svgdef + ' height="'+$height+'"';
    }
    
    $svgdef: $svgdef + '>';
    $svg: '';
    
    @if ($farbe != false) {
	$farbe: encodecolor($farbe);
	$svg: $svgdef + '<path fill="'+$farbe+'" ' + $path + '/>';
	
    } @else {
	$svg: $svgdef + '<path ' + $path + '/>';
    }
    @return url('data:image/svg+xml;charset=UTF-8,' + $svg + '</svg>');
}


// Default icon width for use in :before
.defaulticonplaceholder {
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.6rem;

    background-image: svg-bookmark();
    background-repeat: no-repeat;
    display: inline-block;
    content: ' ';
    background-size: 100%;
    background-position: center center;
    
    margin-right: 0.5rem;
}