/*-----------------------------------------------------------------------------------*/
/* Functions for icons
/*-----------------------------------------------------------------------------------*/
@use "sass:meta";
@use "sass:string";
@use "sass:color";

// Translate colors
@function encodecolor($value) {
    @if meta.type-of($value) == 'color' and string.index(#{$value}, '#') == 1 {
        $hex: string.slice(color.ie-hex-str($value), 4);
        @return '%23' + string.unquote('#{$hex}');
    }

    @return $value;
}

// Build Background String
@function svg-buildbackground($path, $viewbox, $farbe: false, $width: 0, $height: 0) {
    $svgdef: '<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" ' + 'viewBox="' + $viewbox + '"';

    @if $width != 0 {
        $svgdef: $svgdef + ' width="' + $width + '"';
    }

    @if $height != 0 {
        $svgdef: $svgdef + ' height="' + $height + '"';
    }

    $svgdef: $svgdef + '>';
    $svg: '';

    @if $farbe != false {
        $farbe: encodecolor($farbe);
        $svg: $svgdef + '<path fill="' + $farbe + '" ' + $path + '/>';
    } @else {
        $svg: $svgdef + '<path ' + $path + '/>';
    }

    @return url('data:image/svg+xml;charset=UTF-8,' + $svg + '</svg>');
}

